/* estilos gerais */
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: #f8f8f8; 
    color: #333; 
}

header, footer {
    background: #0c0b0b; 
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* menu */
nav {
    background: #7e7c7c; 
}

nav ul {
    list-style: none;
    margin: 10px;
    padding: 10px;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav a {
    color: #fff; 
    text-decoration: none; 
    font-weight: bold;
}

/* galeria de fotos */
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    justify-content: center;
    
}

.galeria img {
    width: calc(25% - 15px); /* 4 fotos por linha */
    border-radius: 8px;
    transition: transform 0.3s;
    border: 1px solid #000;   /* borda preta fina */
    
}


/* quadro da equipe */
.quadro-equipe {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.quadro-membro {
    width: 150px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #000000;
    text-align: center;

}

.quadro-membro img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #424242; 
    
}

/* responsividade */
@media (max-width: 770px) {

    /* seçoes flexíveis */
    .section-flex {
        flex-direction: column;
        text-align: center;
    }

    /* menu vertical */
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    /* quadro equipe responsivo */
    .quadro-equipe {
        flex-direction: column;
        align-items: center;
    }

    .quadro-membro {
        width: 70%;
    }

    .galeria img {
        width: calc(50% - 15px); /* 2 fotos por linha em tablets */
    }
}

@media (max-width: 480px) {
    .galeria img {
        width: 100%; /* 1 foto por linha em celulares */
    }
}
